<div class="panel panel-default tm-panel">
    <div class="panel-heading" style="overflow: hidden">
        <div onclick="history.go(-1)" class="pull-left"> <i class="glyphicon glyphicon-chevron-left"></i>  返回 </div>
        <div style="margin-left: 38%;font-size: 12pt;font-weight: bold">匿名回收</div>
    </div>
    <form method="post" id="anonymous_form" action="#/service_group/recCategory">
        <div class="panel-body">
            <label>用户信息</label>
            <div style="padding: 5% 0;width:100%;min-height: 105px;">
                <div style="width:30%;float: left;text-align: right;display: block;"><label>单位名称：</label></div>
                <div style="width: 70%;float: right;padding-bottom: 10px;"><input name="username" type="text" style="outline: medium;border-top:none;border-left: none;border-right: none" placeholder="请填写单位名称..."/></div>
                <hr style="margin:10px 2.5%;width:95%;border-top:1px solid #eee;clear: both;"/>
                <div style="width:30%;float: left;text-align: right;display: block;"><label>联系人：</label></div>
                <div style="width: 70%;float: right;padding-bottom: 10px;"><input name="cperson" type="text" style="outline: medium;border-top:none;border-left: none;border-right: none" placeholder="请填写联系人..."/></div>
                <hr style="margin:10px 2.5%;width:95%;border-top:1px solid #eee;clear: both;"/>
                <div style="width:30%;float: left;text-align: right;display: block;"><label>联系方式：</label></div>
                <div style="width: 70%;float: right;padding-bottom: 10px;"><input name="cphone" type="text" style="outline: medium;border-top:none;border-left: none;border-right: none" placeholder="请填写联系方式..."/></div>
                <hr style="margin:10px 2.5%;width:95%;border-top:1px solid #eee;clear: both;"/>
                <div style="width:30%;float: left;text-align: right;"><label>地址：</label></div>
                <div style="width: 70%;float: right;padding-bottom: 10px;"><input name="address" type="text" style="outline: medium;border-top:none;border-left: none;border-right: none" placeholder="请填写用户地址..."/></div>
            </div>
        </div>
        <div id="next" style="text-align: center;display:block;"><button type="submit"  class="btn btn-info">下一步</button></div>
    </form>
</div>
<script type="text/javascript" src="service_group/anonymous_recycle.html.js"></script>
<script type="text/javascript">

</script>