<div class="panel panel-default tm-panel">
    <div class="panel-heading" style="overflow: hidden">
        <div onclick="history.go(-1)" class="pull-left"> <i class="glyphicon glyphicon-chevron-left"></i> 返回 </div>
        <label style="margin-left: 25%;">绑定条码</label>
    </div>
    <div style="margin: 15px  8%;">
        提示：<br>
        扫描条形码为公司绑定条形码
    </div>
    <div style="padding: 5% 0;width:100%;min-height: 105px;">
        <div style="width:30%;float: left;text-align: right;display: block;"><label>条形码：</label></div>
        <div style="width: 70%;float: right;padding-bottom: 10px;"><input name="core" type="text" style="outline: medium;border-top:none;border-left: none;border-right: none" placeholder="条形码"/></div>
        <hr style="margin:10px 2.5%;width:95%;border-top:1px solid #eee;clear: both;"/>
        <div style="width:30%;float: left;text-align: right;display: block;"><label>用户名称：</label></div>
        <div style="width: 70%;float: right;padding-bottom: 10px;"><input name="cperson" type="text" style="outline: medium;border-top:none;border-left: none;border-right: none" placeholder="username"/></div>
        <hr style="margin:10px 2.5%;width:95%;border-top:1px solid #eee;clear: both;"/>
    </div>

    <div style="padding-top: 150px;text-align: center">
        <button onclick="" class="btn btn-info" style="width: 150px;height: 40px">绑定条形码</button>
        <button onclick="" class="btn btn-info" style="width: 150px;height: 40px">查询条形码</button>
    </div>
</div>