<div class="panel panel-default tm-panel">
    <div class="panel-heading" style="overflow: hidden">
        <div onclick="history.go(-1)" class="text-left" style="float: left;width:20%;line-height: 28px;cursor: pointer;">
            <i class="glyphicon glyphicon-chevron-left"></i> 返回</div>
        <div  style="width:60%;float: left;text-align: center;font-weight: bold;font-size: 12pt;line-height: 26px;">已回复明细</div>
    </div>
    <center>
        <table border="0" width="80%" id="tb1" style="margin-top: 30px;line-height: 25px;">
            <tr><td style="float: right">销售编号：</td><td>13213213213213</td></tr>
            <tr><td style="float: right">地址：</td><td>北京东城区青园小区n号</td></tr>
            <tr><td style="float: right">客户名称：</td><td>_</td></tr>
            <tr><td style="float: right">联系电话：</td><td>13765607876</td></tr>
            <tr><td style="float: right">联系人：</td><td>万女士</td></tr>
            <tr><td style="float: right">内容：</td><td>销售物品</td></tr>
            <tr><td style="float: right">备注：</td><td>收货</td></tr>
        </table>
        <input type="button" class="btn btn-info" style="margin-top: 30px" value="开始提货">
    </center>
</div>
<script type="text/javascript" src="service_group/service_reminder.html.js"></script>
<script type="text/javascript">

</script>