<div class="panel panel-default tm-panel">
    <div class="panel-heading" style="overflow: hidden;">
        <div onclick="history.go(-1)" class="pull-left"> <i class="glyphicon glyphicon-chevron-left"></i> 返回 </div>
        <label style="margin-left: 25%;">拉货详情</label>
    </div>
    <div style="width: 95%;margin: 10px 2.5%;height:20px;">
        <label style="float: left">201706061311</label>
        <label style="float: right">拉货件数3件</label>
    </div>
    <div style="width: 95%;margin: 10px 2.5%;">
        <table class="table table-bordered" style="text-align: center">
            <tr>
                <td>品类</td>
                <td>件数</td>
                <td>总计</td>
            </tr>
            <tr style="text-align: center">
                <td><span style="padding: 6px 0;display: block;">报纸</span></td>
                <td><input type="text" style="text-align: right;width: 50px;margin: auto;border: none" readonly="readonly" class="form-control" value="11111"/></td>
                <td>
                    <input type="text" style="text-align: right;width: 50px;float: left;border: none" readonly="readonly" class="form-control" value="11111"/>
                    <span style="display: block;vertical-align: middle;height: 34px;line-height: 34px;">公斤</span>
                </td>
            </tr>
            <tr style="text-align: center">
                <td><span style="padding: 6px 0;display: block;">报纸</span></td>
                <td><input type="text" style="text-align: right;width: 50px;margin: auto;border: none" readonly="readonly" class="form-control" value="11111"/></td>
                <td>
                    <input type="text" style="text-align: right;width: 50px;float: left;border: none" readonly="readonly" class="form-control" value="11111"/>
                    <span style="display: block;vertical-align: middle;height: 34px;line-height: 34px;">公斤</span>
                </td>
            </tr>

        </table>
        <div class="panel-footer navbar-fixed-bottom mobile-width" style="background-color: #e8e8e8;text-align: center">
            <button class="btn pull_2 btn-info" onclick="history.go(-1)" style="width: 100%">确定</button>
        </div>
    </div>
</div>