<div class="panel panel-default tm-panel">
    <div class="panel-heading" style="overflow: hidden">
        <div onclick="history.go(-1)" class="pull-left"> <i class="glyphicon glyphicon-chevron-left"></i> 回收品类 </div>
    </div>
    <div class="panel-body">
        <label>回收品类</label>
        <div>
            <table class="table table-striped">
                <tr style="background-color:#444;color: #fff;">
                    <th style="text-align: center">品类</th>
                    <th style="text-align: center">数量</th>
                    <th style="text-align: center">单价</th>
                    <th style="text-align: center">小计</th>
                </tr>
                <tr style="text-align: center">
                    <td><span style="padding: 6px 0;display: block;">饮料瓶</span></td>
                    <td style="padding: 14px 0;">11111</td>
                    <td><span style="padding: 6px 0;display: block;">111111</span></td>
                    <td><span style="padding: 6px 0;display: block;">999999</span></td>
                </tr>
                <tr style="text-align: center">
                    <td><span style="padding: 6px 0;display: block;">饮料瓶</span></td>
                    <td style="padding: 14px 0;">11111</td>
                    <td><span style="padding: 6px 0;display: block;">999999</span></td>
                    <td><span style="padding: 6px 0;display: block;">999999</span></td>
                </tr>
                <tr style="text-align: center">
                    <td><span style="padding: 6px 0;display: block;">饮料瓶</span></td>
                    <td style="padding: 14px 0;">11111</td>
                    <td><span style="padding: 6px 0;display: block;">999999</span></td>
                    <td><span style="padding: 6px 0;display: block;">9999999</span></td>
                </tr>
            </table>
        </div>
        <div id="prev"   style="text-align: center;margin-top: 30px">
            <button type="button" id="finish" onclick="location.href='#/service_group/home'"  class="btn btn-info">完成</button>
        </div>
    </div>
</div>
<script type="text/javascript" src="purchaser/recycle.html.js"></script>
<script type="text/javascript">
    var userType = 1;
    $(function () {
        if (userType == 2) {
            $("#virtual").hide();
        }
    })
</script>