<div class="panel panel-default tm-panel">
    <div class="panel-heading" style="overflow: hidden">
        <div class="text-left" style="float: left;width:20%;line-height: 28px;"> <i class="glyphicon glyphicon-chevron-left"></i>
            <a href="#/godown_keeper/service_reminder">返回</a></div>
        <div  style="width:60%;float: left;text-align: center;font-weight: bold;font-size: 12pt;line-height: 26px;">已回复明细</div>
        <div class="text-right" style="width:20%;float:right"> <input type="button" value="提货完成"></div>
    </div>
    <center>
        <table border="0" width="80%" id="tb1" style="margin-top: 30px;line-height: 25px;">
            <tr><td><strong>取货编码：</strong></td><td>13213213213213</td></tr>
            <tr><td><strong>取货时间：</strong></td><td>2015-03-03 09:00</td></tr>
            <tr><td><strong>取货内容：</strong></td><td>投放带40个，复印纸10包</td></tr>
            <tr><td colspan="2"><strong>实际提货内容：</strong></td></tr>
            <tr rowspan="2"><td colspan="2"><textarea style="width: 100%" rows="2"></textarea></td></tr>
            <tr><td colspan="2"><strong>实际提货人：</strong><input type="text" style="width: 60%"></td></tr>
        </table>
    </center>
</div>
<script type="text/javascript" src="godown_keeper/service_reminder.html.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>
<script type="text/javascript">

</script>