<div class="panel panel-default tm-panel">
    <div class="panel-heading" style="overflow: hidden">
        <div class="text-left" style="float: left;width:20%;line-height: 28px;"> <i class="glyphicon glyphicon-chevron-left"></i><a href="#/godown_keeper/home">返回</a></div>
        <div  style="width:60%;float: left;text-align: center;font-weight: bold;font-size: 12pt;line-height: 26px;">工作日志</div>
    </div>
    <center>
        <table border="0" width="100%" id="tb1" style="margin-top: 30px;line-height: 40px;">
            <tr><td style="float: right"><strong style="font-size: 12pt;">时间：</strong></td><td><input type="text" style="width: 66px;height: 24px;"> ~ <input type="text" style="width: 66px;height: 24px;"></td></tr>
            <tr><td style="float: right"><strong style="font-size: 12pt;line-height: 36px;">类型：</strong></td><td>
                <div class="form-group" id="types">
                    <div class="btn-group single-check">
                        <button type="button" id="btn_1"  value="1" class="btn btn-success active">服务组</button>
                        <button type="button" id="btn_2" value="2" class="btn btn-default">收购员</button>
                    </div>
                </div>
            </td>
            </tr>
        </table>
        <hr style="line-height: 5px;margin-top: 5px;border: none;border-top: 3px ridge black; width: 90%;">
        <div style="position: fixed;bottom:0;left:0;width: 23.5%">
        <input type="button" value="上拉显示更多" style="width: 100%">
        </div>
    </center>
    <div style="margin-left: 10px;">
    回收总金额：30000元
    <table border="1" width="95%" id="tb2">
        <tr style="text-align: center;"><td>品类</td><td>数量</td><td>单价</td><td>金额</td></tr>
        <tr style="text-align: center;"><td>纸类</td><td>12</td><td>234.00</td><td>4324.88</td></tr>
        <tr style="text-align: center;"><td>纸类</td><td>12</td><td>234.00</td><td>4324.88</td></tr>
    </table>
    </div>
</div>
<script type="text/javascript" src="godown_keeper/daily_log.html.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>
<script type="text/javascript">

</script>