<div class="panel panel-default tm-panel">
    <div class="panel-heading" style="overflow: hidden">
        <div class="text-left" style="float: left;width:20%;line-height: 28px;"> <i class="glyphicon glyphicon-chevron-left"></i>
            <a href="#/godown_keeper/inspection">返回</a></div>
        <div  style="width:65%;float: left;text-align: center;font-weight: bold;font-size: 12pt;line-height: 26px;">挂起明细[666016-张金格]</div>
    </div>
    <div class="text-left" style="float: left;width:30%;margin-top:5px; margin-left: 5%;">拉货件数45件</div>
    <div  style="width:30%;float: right;font-weight: bold;font-size: 12pt;margin-top:5px;margin-right: 5%;">2012312311</div>
    <br>
    <div style="float: left;margin-top:5px;margin-left: 5%;">拉货时间：2017-07-01 14:04</div>
    <div style="float: left;margin-top:5px;margin-left: 5%;">挂起时间：2017-07-03 13:03</div>
    <div style="float: left;width:80%;margin-top:5px;margin-left: 5%;">司机：王五</div>
    <div style="float: left;width:80%;margin-top:5px;margin-left: 5%;">车牌号：京QA2839</div>
    <center>
        <table border="0" width="90%" id="tb1" style="margin-top: 75px;line-height: 25px;">
            <tr><td><strong>品类：</strong></td><td colspan="2"><strong>件数：</strong></td><td colspan="2"><strong>总计：</strong></td></tr>
            <tr><td>纸板：</td><td>34</td><td>件</td><td>445.0</td><td>公斤</td></tr>
            <tr><td>可乐瓶：</td><td>2</td><td>件</td><td>1200.0</td><td>个</td></tr>
            <tr><td>油壶：</td><td>1</td><td>件</td><td>12.0</td><td>个</td></tr>
            <tr><td>易拉罐：</td><td>1</td><td>件</td><td>260.0</td><td>个</td></tr>
            <tr><td>书本：</td><td>4</td><td>件</td><td>127.0</td><td>个</td></tr>
            <tr><td>厚铁铁管：</td><td>3</td><td>件</td><td>41.0</td><td>个</td></tr>
        </table>
    </center>
    <div class="panel-footer navbar-fixed-bottom mobile-width" style="background-color: #e8e8e8;text-align: center" id="tb1_btn">
        <input type="button" class="btn pull_2 btn-info" value="编辑"><input type="button" class="btn pull_2 btn-info" value="验收" style="margin-left: 10px;">
    </div>
</div>
<script type="text/javascript" src="godown_keeper/inspection.html.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>
<script type="text/javascript">

</script>