<div class="panel panel-default tm-panel">
    <div class="panel-heading" style="overflow: hidden">
        <div class="text-left" style="float: left;width:20%;line-height: 28px;"> <i class="glyphicon glyphicon-chevron-left"></i><a href="#/godown_keeper/home">返回</a></div>
        <div  style="width:60%;float: left;text-align: center;font-weight: bold;font-size: 12pt;line-height: 26px;">回收验货</div>
    </div>
    <div class="form-group" style="text-align: center;margin-top: 15px;" id="types">
        <div class="btn-group single-check">
            <button type="button" id="btn_1"  value="1" class="btn btn-success active">待验收</button>
            <button type="button" id="btn_2" value="2" class="btn btn-default">已验收</button>
            <button type="button" id="btn_3" value="3" class="btn btn-default">挂起</button>
        </div>
    </div>
    <center>
        <table border="0" width="100%" style="line-height: 30px" id="tb1">
            <tr style="background-color: #e0e0e0"><td width="15%" style="text-align: center">1</td><td><strong>司机：</strong>王五</td><td><strong>车牌号：</strong>京BJ1124</td></tr>
            <tr style="border: none"><td></td><td><strong>拉货单号：</strong></td><td onclick="javascript:selectRadio(1)">20121231239</td></tr>
            <tr style="border: none"><td></td><td><strong>件数：</strong>34件</td><td><strong>重量：</strong>100公斤</td></tr>
            <tr style="background-color: #e0e0e0"><td width="15%" style="text-align: center">2</td><td><strong>司机：</strong>马六</td><td><strong>车牌号：</strong>京BQ8872</td></tr>
            <tr style="border: none"><td></td><td ><strong>拉货单号：</strong></td><td onclick="javascript:selectRadio(1)">20121231241</td></tr>
            <tr style="border: none"><td></td><td><strong>件数：</strong>28件</td><td><strong>重量：</strong>500公斤</td></tr>
        </table>
        <table border="0" width="100%" style="line-height: 30px" id="tb2" hidden="hidden">
            <tr style="background-color: #e0e0e0"><td width="15%" style="text-align: center">1</td><td><strong>司机：</strong>张三</td><td><strong>车牌号：</strong>京BJ1324</td></tr>
            <tr style="border: none"><td></td><td><strong>拉货单号：</strong></td><td onclick="javascript:selectRadio(2)">20121231211</td></tr>
            <tr style="border: none"><td></td><td><strong>验收时间：</strong></td><td>2017-07-03 14:28</td></tr>
            <tr style="background-color: #e0e0e0"><td width="15%" style="text-align: center">2</td><td><strong>司机：</strong>李四</td><td><strong>车牌号：</strong>京AQ1923</td></tr>
            <tr style="border: none"><td></td><td><strong>拉货单号：</strong></td><td onclick="javascript:selectRadio(2)">20121231214</td></tr>
            <tr style="border: none"><td></td><td><strong>验收时间：</strong></td><td>2017-07-02 13:18</td></tr>
        </table>
        <table border="0" width="100%" style="line-height: 30px" id="tb3" hidden="hidden">
            <tr style="background-color: #e0e0e0"><td width="15%" style="text-align: center">1</td><td><strong>司机：</strong>赵信</td><td><strong>车牌号：</strong>京BJ4567</td></tr>
            <tr style="border: none"><td></td><td><strong>拉货单号：</strong></td><td onclick="javascript:selectRadio(3)">20121231217</td></tr>
            <tr style="border: none"><td></td><td><strong>挂起时间：</strong></td><td>2017-07-03 14:28</td></tr>
            <tr style="border: none"><td></td><td><strong>件数：</strong>33件</td><td><strong>重量：</strong>300公斤</td></tr>
            <tr style="background-color: #e0e0e0"><td width="15%" style="text-align: center">2</td><td><strong>司机：</strong>陈宫</td><td><strong>车牌号：</strong>京AQ1234</td></tr>
            <tr style="border: none"><td></td><td><strong>拉货单号：</strong></td><td onclick="javascript:selectRadio(3)">20121231227</td></tr>
            <tr style="border: none"><td></td><td><strong>挂起时间：</strong></td><td>2017-07-02 13:18</td></tr>
            <tr style="border: none"><td></td><td><strong>件数：</strong>21件</td><td><strong>重量：</strong>250公斤</td></tr>
        </table>
    </center>
</div>
<script type="text/javascript" src="godown_keeper/service_inspection.html.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>
<script type="text/javascript">

</script>