<div class="panel panel-default tm-panel">
    <div class="panel-heading" style="overflow: hidden">
        <div class="text-left" style="float: left;width:20%;line-height: 28px;"> <i class="glyphicon glyphicon-chevron-left"></i>
            <a href="#/godown_keeper/service_reminder">返回</a></div>
        <div  style="width:60%;float: left;text-align: center;font-weight: bold;font-size: 12pt;line-height: 26px;">未查看明细</div>
        <div class="text-right" style="width:20%;float:right"> <input type="button" value="收到"></div>
    </div>
    <center>
        <table border="0" width="100%" id="tb1" style="margin-top: 30px;line-height: 25px;">
            <tr><td style="float: right"><strong>取货编码：</strong></td><td>13213213213213</td></tr>
            <tr><td style="float: right"><strong>取货时间：</strong></td><td>2015-03-03 09:00</td></tr>
            <tr><td style="float: right"><strong>取货内容：</strong></td><td>投放带40个，复印纸10包</td></tr>
            <tr><td style="float: right"><strong>取货人：</strong></td><td>小章</td></tr>
        </table>
    </center>
</div>
<script type="text/javascript" src="godown_keeper/service_reminder.html.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>
<script type="text/javascript">

</script>