<div class="panel panel-default tm-panel">
    <div class="panel-heading navbar-fixed-top mobile-width" style="overflow: hidden;">
        <div onclick="history.go(-1)" class="pull-left"><i class="glyphicon glyphicon-chevron-left"></i> 绑定页面</div>
    </div>
    <div class="form-group" style="width: 90%;padding: 65px 5% 10px;text-align: center;">
        <label>已完成注册！请绑定条形码</label>
    </div>
    <div class="form-group" style="width: 90%;margin: 10px 5%;">
        <label>条形码：</label>
        <input placeholder="点击此处开始扫描条形码" id="bindcode" type="text" class="form-control"/>
    </div>
    <div class="row" style="margin: 20px 10%;">
        <div class="col-xs-6">
            <button type="submit" id="bind" class="btn btn-block btn-info"> 绑定条形码</button>
        </div>
        <div class="col-xs-6">
            <button type="submit" id="back_to_index" class="btn btn-block btn-info"> 返回首页</button>
        </div>
    </div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" style="margin-top:80px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div style="text-align: center;font-size: 16px;font-weight: bold" class="modal-body"></div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script type="text/javascript">
    $("#back_to_index").click(function () {
        window.location.href = '#/purchaser/home';
    });
    $("#bindcode").click(function () {
        /**
         * 备注，开发室删除
         */
        $("#myModal").modal("show");
        $(".modal-body").text("开始调用摄像头扫码！");
    })
    $("#bind").click(function () {
        var code = $("#bindcode").val();
        if (code == "") {
            $("#myModal").modal("show");
            $(".modal-body").text("请先扫描条形码进行绑定！");
        } else {
            $("#myModal").modal("show");
            $(".modal-body").text("条形码绑定成功！");
            setTimeout("window.location.href = '#/purchaser/home'", 1000);
        }


    });
</script>

<!--<div id="support">123</div>
<div id="contentHolder">
    <video id="video" width="320" height="320" autoplay>
    </video>
    <canvas style="display:block; background-color:#F00;" id="canvas" width="320" height="320">
    </canvas> <br/>
    <button id="snap" style="display:block; height:50px; width:120px;">开始扫描</button>
</div>

<script>
    //这段代 主要是获取摄像头的视频流并显示在Video 签中
    var canvas=null,context=null,video=null;
    window.addEventListener("DOMContentLoaded", function (){
        try{
            canvas = document.getElementById("canvas");
            context = canvas.getContext("2d");
            video = document.getElementById("video");

            var videoObj = { "video": true,audio:false},
                    flag=true,
                    MediaErr = function (error) {
                        flag=false;
                        if (error.PERMISSION_DENIED) {
                            alert('用户拒绝了浏览器请求媒体的权限', '提示');
                        } else if (error.NOT_SUPPORTED_ERROR) {
                            alert('对不起，您的浏览器不支持拍照功能，请使用其他浏览器', '提示');
                        } else if (error.MANDATORY_UNSATISFIED_ERROR) {
                            alert('指定的媒体类型未接收到媒体流', '提示');
                        } else {
                            alert('系统未能获取到摄像头，请确保摄像头已正确安装。或尝试刷新页面，重试', '提示');
                        }
                    };
            //获取媒体的兼容代码，目前只支持（Firefox,Chrome,Opera）
            if (navigator.getUserMedia) {
                //qq浏览器不支持
                if (navigator.userAgent.indexOf('MQQBrowser') > -1) {
                    alert('对不起，您的浏览器不支持拍照功能，请使用其他浏览器', '提示');
                    return false;
                }
                navigator.getUserMedia(videoObj, function (stream) {
                    video.src = stream;
                    video.play();
                }, MediaErr);
            } else if(navigator.webkitGetUserMedia) {
                navigator.webkitGetUserMedia(videoObj, function (stream) {
                    video.src = window.webkitURL.createObjectURL(stream);
                    video.play();
                }, MediaErr);
            } else if (navigator.mozGetUserMedia) {
                navigator.mozGetUserMedia(videoObj, function (stream) {
                    video.src = window.URL.createObjectURL(stream);
                    video.play();
                }, MediaErr);
            } else if (navigator.msGetUserMedia) {
                navigator.msGetUserMedia(videoObj, function (stream) {
                    $(document).scrollTop($(window).height());
                    video.src = window.URL.createObjectURL(stream);
                    video.play();
                }, MediaErr);
            }else{
                alert('对不起，您的浏览器不支持拍照功能，请使用其他浏览器');
                return false;
            }
            if(flag){
                alert('为了获得更准确的测试结果，请尽量将二维码置于框中，然后进行拍摄、扫描。 请确保浏览器有权限使用摄像功能');
            }
            //这个是拍照按钮的事件，
            $("#snap").click(function () {startPat();}).show();
        }catch(e){
            printHtml("浏览器不支持HTML5 CANVAS");
        }
    }, false);

    //打印内容到页面
    function printHtml(content){
        $(window.document.body).append(content+"<br/>");
    }
    //开始拍照
    function startPat(){
        setTimeout(function(){//防止调用过快
            if(context) {
                context.drawImage(video, 0, 0, 320, 320);
                CatchCode();
            }
        },200);
    }
    //抓屏获取图像流，并上传到服务器
    function CatchCode() {
        if(canvas!=null)  {
            //以下开始编 数据
            var imgData = canvas.toDataURL();
            //将图像转换为base64数据
            var base64Data = imgData;//.substr(22); //在前端截取22位之后的字符串作为图像数据
            //开始异步上
            $.post("saveimg.php", { "img": base64Data },function (result) {
                printHtml("解析结果："+result.data);
                if (result.status == "success" && result.data!="") {
                    printHtml("解析结果成功！");
                }else{
                    startPat();//如果没有解析出来则重新抓拍解析
                }
            },"json");
        }
    }
</script>-->
