<div class="panel panel-default tm-panel">
    <div class="panel-heading" style="overflow: hidden">
        <div onclick="history.go(-1)" class="text-left"
             style="float: left;width:20%;line-height: 28px;cursor: pointer;">
            <i class="glyphicon glyphicon-chevron-left"></i> 返回
        </div>
        <div style="width:60%;float: left;text-align: center;font-weight: bold;font-size: 12pt;line-height: 26px;">
            未完成明细
        </div>
    </div>
    <center>
        <table border="0" width="90%" id="tb1" style="margin-top: 30px;line-height: 25px;">
            <tr>
                <td style="float: right">回收订单编号：</td>
                <td>13213213213213</td>
            </tr>
            <tr>
                <td style="float: right">期望上门时间：</td>
                <td>2015-03-03 09:00</td>
            </tr>
            <tr>
                <td style="float: right">地址：</td>
                <td>北京东城区青园小区</td>
            </tr>
            <tr>
                <td style="float: right">联系电话：</td>
                <td>13765667876</td>
            </tr>
            <tr>
                <td style="float: right">联系人：</td>
                <td>小伟</td>
            </tr>
            <tr>
                <td style="float: right">内容：</td>
                <td>大件电器</td>
            </tr>
            <tr>
                <td style="float: right">预计上门时间：</td>
                <td>2015-03-03 09:30</td>
            </tr>
        </table>
        <input type="button" class="btn btn-info" style="margin-top: 30px" value="开始回收">
    </center>
</div>
<script type="text/javascript" src="purchaser/service_reminder.html.js"></script>
<script type="text/javascript">

</script>