<div class="panel panel-default tm-panel">
    <div class="panel-heading" style="overflow: hidden">
        <div onclick="location.href='#/purchaser/home'" class="text-left"
             style="float: left;width:20%;line-height: 26px;">
            <i class="glyphicon glyphicon-chevron-left"></i> 返回
        </div>
        <div style="width:60%;float: left;text-align: center;font-weight: bold;font-size: 12pt;line-height: 26px;">
            兑换管理
        </div>
    </div>
    <div class="form-group" style="text-align: center;margin-top: 15px;" id="types">
        <div class="btn-group single-check">
            <button type="button" id="btn_1" value="1" class="btn btn-success active">未查看</button>
            <button type="button" id="btn_2" value="2" class="btn btn-default">未送货</button>
            <button type="button" id="btn_3" value="3" class="btn btn-default">已完成</button>
        </div>
    </div>
    <div style="width: 95%;margin: 0 2.5%;">
        <table class="table " id="tb1">
            <tr>
                <td style="padding: 5px 5px 5px;vertical-align: middle;">1</td>
                <td colspan="2">
                    <form class="fast_reply">
                        <dt>
                            <a href="javascript:void(0)" onclick="selectRadio(1)">
                                <span>花市北里西区516号5单元501</span>
                            </a>&nbsp;
                            <span>7-29 12:00</span>
                        </dt>
                        <dt style="float: left;position: relative">
                            <input type="text" style="text-align: right;width: 45px;float: left;" class="form-control"
                                   value="12"/>
                            <span style="display: block;vertical-align: middle;height: 34px;line-height: 34px;float: left;">&nbsp;时&nbsp;</span>
                            <input type="text" style="text-align: right;width: 45px;float: left;" class="form-control"
                                   value="20"/>
                            <span style="display: block;vertical-align: middle;height: 34px;line-height: 34px;float: left;">&nbsp;分&nbsp;</span>
                        </dt>
                        <dd style="text-align: right;float: right;position: relative">
                            <button type="submit" class="btn reply btn-default">回复</button>
                        </dt>
                    </form>
                </td>
            </tr>
            <tr>
                <td style="padding: 5px 5px 5px;vertical-align: middle">2</td>
                <td colspan="2">
                    <dt>
                        <a href="javascript:void(0)" onclick="selectRadio(1)">
                            <span>花市北里西区516号5单元501</span>
                        </a>&nbsp;
                        <span>7-29 12:10</span>
                    </dt>
                    <dt style="float: left;position: relative">
                        <input type="text" style="text-align: right;width: 45px;float: left;" class="form-control"
                               value="12"/>
                        <span style="display: block;vertical-align: middle;height: 34px;line-height: 34px;float: left;">&nbsp;时&nbsp;</span>
                        <input type="text" style="text-align: right;width: 45px;float: left;" class="form-control"
                               value="20"/>
                        <span style="display: block;vertical-align: middle;height: 34px;line-height: 34px;float: left;">&nbsp;分&nbsp;</span>
                    </dt>
                    <dd style="text-align: right;float: right;position: relative">
                        <button type="submit" class="btn reply btn-default">回复</button>
                    </dt>
                </td>
            </tr>
        </table>
        <table class="table" id="tb2" hidden="hidden">
            <tr>
                <td style="padding: 5px;vertical-align: middle">1</td>
                <td colspan="2">
                    <dt style="margin-bottom: 0;">
                        <a href="javascript:void(0)" onclick="selectRadio(2)">
                            <span>花市北里西区516号5单元501</span>
                        </a>&nbsp;
                        <span>7-29 12:05</span>
                    </dt>
                    <dl style="margin-bottom: 0;">
                        <dd style="float: left;position: relative">
                            <span style="display:block">送货时间：12：20</span>
                            <span style="display:block">13901234567</span>
                        </dd>
                        <dd style="text-align: right;float: right;position: relative">
                            <button type="submit" class="btn reply btn-default">回复</button>
                        </dd>
                    </dl>
                </td>
            </tr>
            <tr>
                <td style="padding: 5px;vertical-align: middle">2</td>
                <td colspan="2">
                    <dt style="margin-bottom: 0;">
                        <a href="javascript:void(0)" onclick="selectRadio(2)">
                            <span>花市北里西区516号5单元501</span>
                        </a>&nbsp;
                        <span>7-29 12:07</span>
                    </dt>
                    <dl style="margin-bottom: 0;">
                        <dd style="float: left;position: relative">
                            <span style="display:block">送货时间：12：20</span>
                            <span style="display:block">13901234567</span>
                        </dd>
                        <dd style="text-align: right;float: right;position: relative">
                            <button type="submit" class="btn reply btn-default">回复</button>
                        </dd>
                    </dl>
                </td>
            </tr>
        </table>
        <table class="table" id="tb3" hidden="hidden">
            <tr onclick="selectRadio(3)">
                <td style="padding: 5px;vertical-align: middle">1</td>
                <td colspan="2">
                    <dt style="margin-bottom: 0;">
                        <span style="display: block;float: left;">潇潇</span>
                        <span style="display: block;text-align: right">7-29 12:30</span>
                    </dt>
                    <dt style="margin-bottom: 0;">
                        <span style="display: block;float: left;">兑换订单编号：</span>
                        <span style="display: block;text-align: right">HS345789098765456</span>
                    </dt>
                </td>
            </tr>
            <tr onclick="selectRadio(3)">
                <td style="padding: 5px;vertical-align: middle">1</td>
                <td colspan="2">
                    <dt style="margin-bottom: 0;">
                        <span style="display: block;float: left;">潇潇</span>
                        <span style="display: block;text-align: right">7-29 12:30</span>
                    </dt>
                    <dt style="margin-bottom: 0;">
                        <span style="display: block;float: left;">兑换订单编号：</span>
                        <span style="display: block;text-align: right">HS345789098765456</span>
                    </dt>
                </td>
            </tr>
        </table>
    </div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog" style="top:180px;">
        <div class="modal-content">
            <div style="text-align: center;font-size: 16px;font-weight: bold" class="modal-body"></div>
            <div class="modal-footer">
                <button id="goback" type="submit" class="btn btn-info">确定</button>
                <button id="cancel" type="submit" data-dismiss="modal" class="btn btn-info">取消</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script type="text/javascript" src="purchaser/service_reminder.html.js"></script>

<script type="text/javascript">
    $(".reply").click(function () {
        $("#myModal").modal("show");
        $(".modal-body").text("确定回复当前时间？");
        $("#goback").click(function () {
            $("div").remove('.modal-backdrop');
            $(".modal-body").text("回复成功！");
            $("#myModal").modal("hide");
        });
    });
</script>