<div class="panel panel-default tm-panel">
    <div class="panel-heading" style="overflow: hidden;">
        <div onclick="history.go(-1)" class="pull-left"><i class="glyphicon glyphicon-chevron-left"></i> 返回</div>
        <label style="margin-left: 25%;">创建拉货</label>
        <buttom onclick="location.href='#/purchaser/pullGoods'" style="float: right;padding: 1px 10px;"
                class="btn btn-default">确定
        </buttom>
    </div>
    <div style="width: 95%;margin: 10px 2.5%;">
        <table class="table table-bordered" style="text-align: center">
            <tr style="text-align: center">
                <td>品类</td>
                <td>件数</td>
                <td>总计</td>
            </tr>
            <tr style="text-align: center">
                <td><span style="padding: 6px 0;display: block;">报纸</span></td>
                <td><input type="text" style="text-align: right;width: 50px;margin: auto" class="form-control"
                           value="11111"/></td>
                <td>
                    <input type="text" style="text-align: right;width: 50px;float: left" class="form-control"
                           value="11111"/>
                    <span style="display: block;vertical-align: middle;height: 34px;line-height: 34px;">公斤</span>
                </td>
            </tr>
            <tr style="text-align: center">
                <td><span style="padding: 6px 0;display: block;">报纸</span></td>
                <td><input type="text" style="text-align: right;width: 50px;margin: auto" class="form-control"
                           value="11111"/></td>
                <td>
                    <input type="text" style="text-align: right;width: 50px;float: left" class="form-control"
                           value="11111"/>
                    <span style="display: block;vertical-align: middle;height: 34px;line-height: 34px;">公斤</span>
                </td>
            </tr>
        </table>
    </div>
</div>