<div class="panel panel-default tm-panel">
    <div class="panel-heading" style="overflow: hidden">
        <div onclick="location.href='#/purchaser/home'" class="pull-left"><i
                class="glyphicon glyphicon-chevron-left"></i> 返回
        </div>
        <label style="margin-left: 25%;">获取用户信息</label>
    </div>
    <div style="margin: 15px  8%;">
        提示：<br>
        扫描条形码或输入用户手机号获取用户信息
    </div>

    <div style="margin: 15px  8%;">
        <div class="col-xs-9">
            <input type="text" class="form-control" name="barcode" placeholder="请输入条形码...">
        </div>
        <div class="col-xs-3">
            <button style="margin-bottom: 35px" class="btn btn-info btn-ms">扫描</button>
        </div>
    </div>
    <hr style="width: 84%;height: 1px;border-top:1px solid #000;">
    <span style="margin-top:-32px;display: block;width: 100px;height: 20px;text-align: center;margin-left: 110px;position: absolute">或</span>
    <form id="">
        <div style="padding: 10px;">
            <div class="form-group">
                <label class="col-xs-3 control-label"> 手机号 </label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" placeholder="手机号">
                </div>
            </div>
            <br><br>
            <div class="form-group">
                <label class="col-xs-3 control-label">验证码</label>
                <div class="col-xs-5">
                    <input type="text" class="form-control col-sm-1 " placeholder="验证码">
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-default btn-ms">重发(60s)</button>
                </div>

            </div>
        </div>
        <div style="padding-top: 50px;text-align: center">
            <button onclick="location.href='#/purchaser/updateUserInfo'" class="btn btn-info"
                    style="width: 150px;height: 40px">下一步
            </button>
        </div>
    </form>
</div>