<div class="panel panel-default tm-panel">
    <div class="panel-heading" style="overflow: hidden">
        欢迎： <b>小明</b>
        <a class="pull-right logout" href="#/login">退出</a>
    </div>
    <div class="panel-body">

        <div class="container-fuild home-gridview">
            <div class="row">
                <div href="#/purchaser/recycle" class="grid-col col-xs-5 col-xs-offset-1">
                    <br/>
                    <i class="glyphicon glyphicon-yen"></i>
                    <h4>个人回收</h4>
                </div>
                <div href="#/purchaser/register" class="grid-col col-xs-5">
                    <br/>
                    <i class="glyphicon glyphicon-edit"></i>
                    <h4>用户注册</h4>
                </div>

                <div class="grid-col col-xs-5 col-xs-offset-1">
                    <br/>
                    <i class="glyphicon glyphicon-shopping-cart"></i>
                    <h4>拉货提醒</h4>
                </div>
                <div class="grid-col col-xs-5">
                    <br/>
                    <i class="glyphicon glyphicon-envelope"></i>
                    <h4>客服提醒</h4>
                    <span class="tm-badge badge pull-right">4</span>
                </div>

                <div class="grid-col col-xs-5 col-xs-offset-1">
                    <br/>
                    <i class="glyphicon glyphicon-list-alt"></i>
                    <h4>工作日志</h4>
                </div>
                <div class="grid-col col-xs-5">
                    <br/>
                    <i class="glyphicon glyphicon-user"></i>
                    <h4>用户修改</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.grid-col').click(function(){
        var url = $(this).attr('href');
        window.location.href = url;
    });
</script>