<div class="panel panel-default tm-panel">
    <div class="panel-heading" style="overflow: hidden;">
        <div onclick="history.go(-1)" class="pull-left"><i class="glyphicon glyphicon-chevron-left"></i> 返回</div>
        <label style="margin-left: 25%;">拉货详情</label>
        <buttom id="update" style="float: right;padding: 1px 10px;" class="btn btn-default">修改</buttom>
    </div>
    <div style="width: 95%;margin: 10px 2.5%;height:20px;">
        <label style="float: left">201706061311</label>
        <label style="float: right">拉货件数3件</label>
    </div>
    <div style="width: 95%;margin: 10px 2.5%;">
        <table class="table table-bordered" style="text-align: center">
            <tr>
                <td>品类</td>
                <td>件数</td>
                <td>总计</td>
            </tr>
            <tr style="text-align: center">
                <td><span style="padding: 6px 0;display: block;">报纸</span></td>
                <td><span style="padding: 6px 0;display: block;">5</span></td>
                <td><span style="padding: 6px 0;display: block;">11公斤</span></td>
            </tr>
            <tr style="text-align: center">
                <td><span style="padding: 6px 0;display: block;">报纸</span></td>
                <td><span style="padding: 6px 0;display: block;">5</span></td>
                <td><span style="padding: 6px 0;display: block;">11公斤</span></td>
                </td>
            </tr>
        </table>
    </div>
</div>
<script type="text/javascript">
    $("#update").click(function () {
        if (confirm("确认修改？")) {
            window.location.href = '#/purchaser/pullGoods';
        }
    });
</script>