<div class="panel panel-default tm-panel">
    <div class="panel-heading" style="overflow: hidden">
        <div onclick="history.go(-1)" class="pull-left"><i class="glyphicon glyphicon-chevron-left"></i> 返回</div>
        <label style="margin-left: 25%;">拉货管理</label>
    </div>
    <div class="form-group" id="pullType" style="text-align: center;margin-top: 15px">
        <div class="btn-group single-check" role="group">
            <button type="button" id="pull_0" value="pull_0" class="btn btn-success active">拉货</button>
            <button type="button" id="pull_1" value="pull_1" class="btn btn-default">待拉货</button>
            <button type="button" id="pull_2" value="pull_2" class="btn btn-default">已拉货</button>
            <button type="button" id="pull_3" value="pull_3" class="btn btn-default">已验收</button>
            <button type="button" id="pull_4" value="pull_4" class="btn btn-default">挂起</button>
        </div>
    </div>
    <div style="width: 95%;margin: 0 2.5%;">
        <table class="table table-bordered">
            <tr>
                <td style="text-align: left"><input type="checkbox" value="cm">&nbsp;<strong>订单号</strong></td>
                <td style="text-align: center"><strong>件数</strong></td>
                <td style="text-align: center"><strong>时间</strong></td>
                <td style="display: none"><strong>拉货人</strong></td>
                <td style="display: none"><strong>验货人</strong></td>
            </tr>
            <tr style="text-align: center">
                <td><input type="checkbox" value="cm"><a href="#/purchaser/pullDetail">201706061311</a></td>
                <td>5</td>
                <td>2017-06-06 13:11</td>
                <td style="display: none">潘金龙</td>
                <td style="display: none">潘金龙</td>
            </tr>
        </table>
    </div>

    <div style="padding: 10px 2.5% 0;text-align: center;position: relative">
        <div>
            <label class="col-xs-3 control-label"> 扫码 </label>
            <div class="col-xs-9">
                <input type="text" class="form-control" name="barcode" placeholder="点击开始扫码">
            </div>
        </div>
        <form>
            <div>
                <label class="col-xs-3 control-label"> 工号 </label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" name="worknum" placeholder="请输入工号">
                </div>
            </div>
            <div>
                <label class="col-xs-3 control-label">密码</label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" name="password" placeholder="输入密码">
                </div>
            </div>
            <br>
            <div>
                <button type="button" class="btn btn-info">确认</button>
            </div>
        </form>

    </div>

    <div class="panel-footer navbar-fixed-bottom mobile-width" style="background-color: #e8e8e8;padding-left:49px;">
        <button onclick="location.href='#/purchaser/createPull'" class="btn pull_1 btn-info">创建拉货</button>
        &nbsp;&nbsp;
        <button class="btn pull_1 btn-success">申请</button>
        &nbsp;&nbsp;
        <button class="btn pull_1 btn-danger">删除</button>
        &nbsp;&nbsp;
        <button class="btn pull_2 btn-info" style="display: none">补货</button>
        <span class="pull_2" style="display: none">&nbsp;&nbsp;</span>
        <button class="btn pull_2 btn-warning" style="display: none">撤销</button>
    </div>
</div>
<script type="text/javascript" src="purchaser/recycle.html.js"></script>
<script type="text/javascript">

    $("#pullType .btn").click(function () {
        if ($("#pullType .btn").hasClass('active')) {
            if ($(this).val() == 'pull_0') {
                $(".pull_1").show();
                $(".pull_2").hide();
                $(".table tr input").show();
                $(".table tr").find('td:eq(3)').hide();
            }
            if ($(this).val() == 'pull_1') {
                $(".pull_1").hide();
                $(".pull_2").show();
                $(".table tr input").show();
                $(".table tr").find('td:eq(3)').hide();
            }
            if ($(this).val() == 'pull_2') {
                $(".pull_1").hide();
                $(".pull_2").hide();
                $(".table tr input").hide();
                $(".table tr").find('td:eq(3)').show();
                $(".table tr").find('td:eq(4)').hide();
            }
            if ($(this).val() == 'pull_3') {
                $(".pull_1").hide();
                $(".pull_2").hide();
                $(".table tr input").hide();
                $(".table tr").find('td:eq(3)').hide();
                $(".table tr").find('td:eq(4)').show();
            }
            if ($(this).val() == 'pull_4') {
                $(".pull_1").hide();
                $(".pull_2").hide();
                $(".table tr input").hide();
                $(".table tr").find('td:eq(3)').hide();
                $(".table tr").find('td:eq(4)').hide();
            }
        }
    });
</script>
