<div class="panel panel-default tm-panel">
    <div class="panel-heading" style="overflow: hidden">
        <div onclick="history.go(-1)" class="pull-left"> <i class="glyphicon glyphicon-chevron-left"></i> 回收品类 </div>
    </div>
    <div class="panel-body">
        <label>回收品类</label>
        <div>
            <table class="table table-striped">
                <tr style="background-color:#444;color: #fff;">
                    <th style="text-align: center">品类</th>
                    <th style="text-align: center">数量</th>
                    <th style="text-align: center">单价</th>
                    <th style="text-align: center">小计</th>
                </tr>
                <tr style="text-align: center">
                    <td><span style="padding: 6px 0;display: block;">饮料瓶</span></td>
                    <td><input type="text" style="width:70%;display:inline-block;text-align: right" name="num"
                               class="form-control" value="0" size="1"/></td>
                    <td><span class="unit" style="padding: 6px 0;display: block;">12</span></td>
                    <td><span class="total" style="padding: 6px 0;display: block;">0.00</span></td>
                </tr>
                <tr style="text-align: center">
                    <td><span style="padding: 6px 0;display: block;">饮料瓶</span></td>
                    <td><input type="text" style="width:70%;display:inline-block;text-align: right" name="num"
                               class="form-control" value="0" size="1"/></td>
                    <td><span class="unit" style="padding: 6px 0;display: block;">13</span></td>
                    <td><span class="total" style="padding: 6px 0;display: block;">0.00</span></td>
                </tr>
                <tr style="text-align: center">
                    <td><span style="padding: 6px 0;display: block;">饮料瓶</span></td>
                    <td><input type="text" style="width:70%;display:inline-block;text-align: right" name="num"
                               class="form-control" value="0" size="1"/></td>
                    <td><span class="unit" style="padding: 6px 0;display: block;">11</span></td>
                    <td><span class="total" style="padding: 6px 0;display: block;">0.00</span></td>
                </tr>
                <tr style="text-align: center">
                    <td><span style="padding: 6px 0;display: block;">电视</span></td>
                    <td><input type="text" style="width:70%;display:inline-block;text-align: right" name="num"
                               class="form-control" value="0" size="1"/></td>
                    <td><span class="unit" style="padding: 6px 0;display: block;">11</span></td>
                    <td><span class="total" style="padding: 6px 0;display: block;">0.00</span></td>
                </tr>
                <tr style="text-align: center">
                    <td><span style="padding: 6px 0;display: block;">电脑显示屏</span></td>
                    <td><input type="text" style="width:70%;display:inline-block;text-align: right" name="num"
                               class="form-control" value="0" size="1"/></td>
                    <td><span class="unit" style="padding: 6px 0;display: block;">11</span></td>
                    <td><span class="total" style="padding: 6px 0;display: block;">0.00</span></td>
                </tr>
            </table>
        </div>
        <!--<div class="col-xs-12">
            <label style="vertical-align: top;font-size:16px;text-align: right;margin-top: 15px;">其他：</label>
            <textarea cols="34" class="form-control col-sm-2 " style="resize: none" rows="5"></textarea>
        </div>-->
        <div id="prev" style="text-align: center;">
            <div class="col-xs-12" style="margin-top: 30px;">
                <button type="submit" style="margin-right: 40px;" class="btn btn-info" id="finish">完成</button>
                <button type="button" id="cancel" class="btn btn-danger">取消</button>
            </div>
        </div>
    </div>
</div>
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" style="margin-top:180px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button id="goback" type="submit" class="btn btn-info">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script src="../js/comm.js"></script>