<div class="panel panel-default tm-panel">
    <div class="panel-heading" style="overflow: hidden">
        <div class="pull-left"> <i class="glyphicon glyphicon-chevron-left"></i> 回收品类 </div>
    </div>
    <div class="panel-body">
        <label>用户信息</label>
        <div>
        <table class="table table-striped">
            <tr style="background-color:#999;color: #fff;">
                <th style="text-align: center">品类</th>
                <th style="text-align: center">数量</th>
                <th style="text-align: center">单价</th>
                <th style="text-align: center">小计</th>
            </tr>
            <tr style="text-align: center">
                <td>饮料瓶</td>
                <td><input type="text" value="11111" size="2"/></td>
                <td>1111111</td>
                <td>1111111</td>
            </tr>
            <tr style="text-align: center">
                <td>饮料瓶</td>
                <td><input type="text" value="11111" size="2"/></td>
                <td>1111111</td>
                <td>1111111</td>
            </tr>
            <tr style="text-align: center">
                <td>饮料瓶</td>
                <td><input type="text" value="11111" size="2"/></td>
                <td>1111111</td>
                <td>1111111  </td>
            </tr>
        </table>
        </div>
        <div style="padding: 20px 10px;background-color: #eee">
            <label style="vertical-align: top;font-size: 22px">其他：</label>
            <textarea rows="6" cols="25" style="resize: none"></textarea>
        </div>
        <div id="prev"   style="text-align: center;margin-top: 30px">
            <button type="button" onclick="location.href='#/purchaser/recycle'" style="margin-right: 40px"  class="btn btn-info">上一步</button>
            <button type="button" onclick="location.href='#/purchaser/'"  class="btn btn-info">下一步</button>
        </div>
    </div>
</div>
