<div class="panel panel-default tm-panel">
    <div class="panel-heading" style="overflow: hidden">
        <div onclick="history.go(-1)" class="pull-left"> <i class="glyphicon glyphicon-chevron-left"></i> 回收品类 </div>
    </div>
    <div class="panel-body">
        <label>回收品类</label>
        <div>
        <table class="table table-striped">
            <tr style="background-color:#444;color: #fff;">
                <th style="text-align: center">品类</th>
                <th style="text-align: center">数量</th>
                <th style="text-align: center">单价</th>
                <th style="text-align: center">小计</th>
            </tr>
            <tr style="text-align: center">
                <td><span style="padding: 6px 0;display: block;">饮料瓶</span></td>
                <td><input type="text" style="text-align: right" class="form-control" value="0" size="1"/></td>
                <td><span class="unit" style="padding: 6px 0;display: block;">12</span></td>
                <td><span class="total" style="padding: 6px 0;display: block;">0.00</span></td>
            </tr>
            <tr style="text-align: center">
                <td><span style="padding: 6px 0;display: block;">饮料瓶</span></td>
                <td><input type="text" style="text-align: right" class="form-control" value="0" size="1"/></td>
                <td><span class="unit" style="padding: 6px 0;display: block;">13</span></td>
                <td><span class="total" style="padding: 6px 0;display: block;">0.00</span></td>
            </tr>
            <tr style="text-align: center">
                <td><span style="padding: 6px 0;display: block;">饮料瓶</span></td>
                <td><input type="text" style="text-align: right" class="form-control" value="0" size="1"/></td>
                <td><span class="unit" style="padding: 6px 0;display: block;">11</span></td>
                <td><span class="total" style="padding: 6px 0;display: block;">0.00</span></td>
            </tr>
        </table>
        </div>
        <!--<div class="col-xs-12">
            <label style="vertical-align: top;font-size:16px;text-align: right;margin-top: 15px;">其他：</label>
            <textarea cols="34" class="form-control col-sm-2 " style="resize: none" rows="5"></textarea>
        </div>-->
        <div id="prev" style="text-align: center;">
            <div class="col-xs-12" style="margin-top: 30px;">
                <button type="button" onclick="location.href='#/purchaser/recycle'" style="margin-right: 40px;"
                        class="btn btn-info">上一步
                </button>
                <button type="button" onclick="location.href='#/purchaser/recList'" class="btn btn-info">下一步</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(".table tr").each(function () {
        var val = $(this).find("td:eq(1)>input");
        var total = $(this).find("td:eq(3)>span")
        var unit = $(this).find("td:eq(2)").text();
        $(this).find("td:eq(1)>input").focus(function () {
            if (this.value == 0) {
                this.value = "";
            }
        });
        $(this).find("td:eq(1)>input").blur(function () {
            if (this.value == '') {
                this.value = 0;
                total.text(unit * this.value);
            }
            if (this.value != '') {
                if (!isNaN(this.value)) {
                    total.text(unit * this.value);
                } else {
                    this.value = 0;
                    alert("请填写数字！");
                }
            }
        });
    });
</script>