<div class="panel panel-default tm-panel">
    <div class="panel-heading" style="overflow: hidden">
        <div onclick="history.go(-1)" class="pull-left"> <i class="glyphicon glyphicon-chevron-left"></i> 回收订单明细 </div>
    </div>
    <div class="panel-body">
        <label style="font-size: 16px;margin-left: 15px;display: block">现金结算明细</label>
        <table class="table table-striped">
            <tr>
                <td colspan="2">编号：KFG0212321</td>
                <td colspan="2">用户：小伟</td>
            </tr>
            <tr style="background-color:#444;color: #fff;">
                <th style="text-align: center">品类</th>
                <th style="text-align: center">数量</th>
                <th style="text-align: center">单价</th>
                <th style="text-align: center">小计</th>
            </tr>
            <tr style="text-align: center">
                <td><span style="padding: 6px 0;display: block;text-align: center">饮料瓶</span></td>
                <td><span style="padding: 6px 0;display: block;">11111</span></td>
                <td><span style="padding: 6px 0;display: block;">111111</span></td>
                <td><span style="padding: 6px 0;display: block;">999999</span></td>
            </tr>
            <tr style="text-align: center">
                <td><span style="padding: 6px 0;display: block;text-align: center">饮料瓶</span></td>
                <td>11111</td>
                <td><span style="padding: 6px 0;display: block;">999999</span></td>
                <td><span style="padding: 6px 0;display: block;">999999</span></td>
            </tr>
            <tr style="text-align: center">
                <td><span style="padding: 6px 0;display: block;text-align: center">饮料瓶</span></td>
                <td><span style="padding: 6px 0;display: block;">11111</span></td>
                <td><span style="padding: 6px 0;display: block;">999999</span></td>
                <td><span style="padding: 6px 0;display: block;">9999999</span></td>
            </tr>
            <tr>
                <td align="right" colspan="4">现金结算：111.0元</td>
            </tr>
        </table>
        <div style="text-align: center;margin-top: 40px">
            <button type="button" onclick="location.href='#/purchaser/home'" class="btn btn-info">完&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;成</button>
            &nbsp;&nbsp;
            <button type="button" onclick="location.href='#/purchaser/recCategory'" class="btn btn-info">还有剩余</button>
        </div>
    </div>
</div>
