<div class="panel panel-default tm-panel">
    <div class="panel-heading" style="overflow: hidden">
        <div onclick="history.go(-1)" class="pull-left"> <i class="glyphicon glyphicon-chevron-left"></i> 用户注册 </div>
    </div>

    <div class="panel-body">
        <form class="form-horizontal" style="padding: 10px;">
            <div class="form-group">
                <label class="col-xs-3 control-label"> 手机号 </label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" placeholder="手机号">
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label">验证码</label>
                <div class="col-xs-5">
                    <input type="text" class="form-control col-sm-2 " placeholder="验证码">
                </div>
                <div class="col-xs-3">
                    <button class="btn btn-default btn-ms">重发(60s)</button>
                </div>

            </div>
            <div class="form-group">
                <label class="center-block"> 用户类型 </label>

                <div class="btn-group" role="group">

                    <button type="button" class="btn btn-default">居民</button>
                    <button type="button" class="btn btn-default">商户</button>
                    <button type="button" class="btn btn-default">其他</button>
                    <button type="button" class="btn btn-default">居委会</button>
                    <button type="button" class="btn btn-default">物业</button>
                    <button type="button" class="btn btn-default">其他</button>

                </div>

            </div>

            <div class="form-group">
                <br />
                <a href="#/purchaser/register_address" class="btn btn-block btn-success"> 下一步 </a>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">

</script>