<div class="panel panel-default tm-panel">
    <div class="panel-heading navbar-fixed-top mobile-width" style="overflow: hidden">
        <div class="pull-left"> <i class="glyphicon glyphicon-chevron-left"></i> 用户地址 </div>
    </div>

    <div class="panel-body" style="padding-bottom: 55px; padding-top: 44px;">
        <form class="form-horizontal" style="padding: 10px;">
            <div class="form-group">
                <label class="col-xs-3 control-label"> 省 </label>
                <div class="col-xs-9">
                    <select class="form-control">
                        <option>请选择</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label"> 市 </label>
                <div class="col-xs-9">
                    <select class="form-control">
                        <option>请选择</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label"> 区 </label>
                <div class="col-xs-9">
                    <select class="form-control">
                        <option>请选择</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label"> 县 </label>
                <div class="col-xs-9">
                    <select class="form-control">
                        <option>请选择</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label"> 小区 </label>
                <div class="col-xs-9">
                    <select class="form-control">
                        <option>请选择</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label"> 楼号 </label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label"> 单元 </label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label">层 </label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-xs-3 control-label"> 号 </label>
                <div class="col-xs-9">
                    <input type="text" class="form-control" />
                </div>
            </div>

        </form>
    </div>

    <div class="panel-footer navbar-fixed-bottom mobile-width">

        <div class="row">
            <div class="col-xs-6">
                <a href="#/purchaser/register" class="btn btn-block btn-default"> 上一步 </a>
            </div>
            <div class="col-xs-6">
                <button type="submit" class="btn btn-block btn-success"> 下一步 </button>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">

</script>