<div class="panel panel-default tm-panel">
    <div class="panel-heading" style="overflow: hidden">
        <div onclick="history.go(-1)" class="pull-left"><i class="glyphicon glyphicon-chevron-left"></i> 返回</div>
        <label style="margin-left: 25%;">修改用户信息</label>
    </div>
    <div style="padding: 10px;">
        <div class="form-group">
            <label style="font-size: 16px">条形码：</label><br>
            <div class="col-xs-8">
                <input type="text" class="form-control"/>
            </div>
            <div>
                <button class="btn btn-default btn-ms">扫描条形码</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <label style="font-size: 16px;">用户地址：</label><br>
                <input type="text" class="form-control" onclick="location.href='#/purchaser/updateAddress'"/>
            </div>
            <br><br>
            <div class="col-xs-12">
                <label style="vertical-align: top;font-size:16px;text-align: right;margin-top: 15px;">其他：</label><br>
                <textarea cols="34" class="form-control col-sm-2 " style="resize: none" rows="5"></textarea>
            </div>
        </div>
        <div style="text-align: center;">
            <button class="btn btn-info btn-ms" style="width: 150px;height: 40px;margin-top: 50px;">保存</button>
        </div>
    </div>
</div>
<script type="text/javascript">

</script>