<div id="login-vm" style="padding: 0 10px; width: 100%; position: absolute; top: 50%; margin-top:-160px;" >

    <form >
        <div class="text-center">
            <br />
            <img src="../images/icon.png" />
            <h3> 绿猫手持终端 </h3>
            <br />
        </div>

        <div class="form-group">
            <input type="email" class="form-control" placeholder="用户名">
        </div>
        <div class="form-group">
            <input type="email" class="form-control" placeholder="密码">
        </div>
        <div class="form-group">
            <button class="btn btn-block btn-success">登录</button>
        </div>
    </form>


    <br />
    测试
    <br />
    <a class="btn btn-default" href="#/purchaser/home">收购员</a>
    <a class="btn btn-default" href="#/service_group/home">服务组</a>
    <a class="btn btn-default" href="#/godown_keeper/home">库管员</a>
    </div>




<script type="text/javascript">


    /*
     var loginVm = new Vue({
     el : '#login-vm'
     });
     */

</script>